<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__logo img">
                <img src="./../img/Logo-footer.png" alt="">
            </div>
            <ul class="footer__menu">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Financial News</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <div class="footer__social">
                <a href="" class="footer__social-img img">
                    <img src="./../img/Facebook.svg" alt="">
                </a>
                <a href="" class="footer__social-img img">
                    <img src="./../img/Insta.svg" alt="">
                </a>
                <a href="" class="footer__social-img img">
                    <img src="./../img/X.svg" alt="">
                </a>
                <a href="" class="footer__social-img img">
                    <img src="./../img/LinkedIn.svg" alt="">
                </a>
                <a href="" class="footer__social-img img">
                    <img src="./../img/Youtube.svg" alt="">
                </a>
            </div>

        </div>
        <div class="footer__desc">
            <div class="footer__text">
                <p>Opinions expressed here are the author's alone, not those of any bank, credit card issuer, airline, or hotel chain, and have not been reviewed, approved or otherwise endorsed by these entities.FinanceBuzz has partnered with CardRatings for our coverage of credit card products. FinanceBuzz and CardRatings may receive a commission from card issuers.</p>
                <p>FinanceBuzz is an informational website that provides tips, advice, and recommendations to help you make financial decisions. We strive to provide up-to-date information, but make no warranties regarding the accuracy of our information. Ultimately, you are responsible for your financial decisions. FinanceBuzz is not a financial institution and does not provide credit cards or any other financial products. FinanceBuzz.com does not make any credit decisions.</p>
                <p>Buzzery, LLC NMLS ID # 2317173 NMLS Consumer Access</p>
            </div>
            <form class="footer__form">
                <input type="hidden" name="action" value="receive-tips">
                <h3>Receive Weekly Finance Tips</h3>
                <input type="text" name="" placeholder="Email Address">
                <button type="submit">Sign Me Up</button>
            </form>
        </div>
        <div class="footer__bottom">
            <h3>© 2023 Actualyse Co. All rights reserved.</h3>
            <div class="footer__bottom-link">
                <a href="">Privacy Policy</a>
                <a href="">Terms of Service</a>
                <a href="">Cookies Settings</a>
            </div>

        </div>
    </div>
</footer>
<!-- /FOOTER -->
