<!-- HEADER -->
<header class="header">
    <div class="container">
        <div class="header__block">
            <div class="header__logo img">
                <img src="./../img/Logo.png" alt="">
            </div>
            <div class="header__right">
                <form action="" class="header__search">
                    <input type="hidden" name="action" value="search">
                    <div class="header__search-input">
                        <input placeholder="Search for..." type="text" name="search">
                    </div>
                    <div class="header__search-button">
                        <button type="submit"></button>
                    </div>
                </form>
                <div class="header__menu-wrap">
                    <div class="header__burger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="header__menu-block">
                        <div class="container">
                            <div class="header__articles">
                                <h2 class="header__articles-title">Featured From Blog</h2>
                                <ul class="header__articles-list">
                                    <li class="post__item">
                                        <a href="">
                                            <div class="post__img img">
                                                <img src="./../img/Rectangle-goriz.png" alt="">
                                                <div class="post__hour">2 hours ago</div>
                                            </div>
                                            <div class="post__desc">
                                                <h2 class="post__author">Stephanie Faris</h2>
                                                <h2 class="post__title">Mortgage Rates Forecast for 2023</h2>
                                                <div class="post__flag">
                                                    <span class="active">new</span>
                                                    <span>best article</span>
                                                </div>
                                                <div class="post__text">
                                                    <p>On any given weekend, you may see a variety of signs posted around town. Estate sales...</p>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="post__item">
                                        <a href="">
                                            <div class="post__img img">
                                                <img src="./../img/Rectangle-goriz2.png" alt="">
                                                <div class="post__hour">2 hours ago</div>
                                            </div>
                                            <div class="post__desc">
                                                <h2 class="post__author">Stephanie Faris</h2>
                                                <h2 class="post__title">Mortgage Rates Forecast for 2023</h2>
                                                <div class="post__flag">
                                                    <span class="active">new</span>
                                                    <span>best article</span>
                                                </div>
                                                <div class="post__text">
                                                    <p>On any given weekend, you may see a variety of signs posted around town. Estate sales...</p>
                                                </div>

                                            </div>
                                        </a>

                                    </li>
                                </ul>
                                <a class="header__articles-link" href="">See All Articles</a>
                            </div>
                            <div class="header__menu">
                                <a href="">Home</a>
                                <a href="">About</a>
                                <a href="">Financial News</a>
                                <a href="">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</header>
<!-- /HEADER -->

