<!-- SCRIPTS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<!-- endbuild -->


<script type="text/javascript" src="scripts/plagins/jquery.validate.min.js" ></script>
    <!-- add you plagins js here -->

<!-- endbuild -->

<!-- build:js scripts/main.js -->
<!--<script type="text/javascript" src="scripts/basic_scripts.js" ></script>-->
<script type="text/javascript" src="scripts/develop/index.js" ></script>
    <!-- add you develop js here -->
<!-- endbuild -->

<!-- /SCRIPTS -->
